@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

.star {
  position: fixed;
  width: 1px;
  height: 1px;
  background-color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p.story {
  color: #ffff82;
}

/* Set the font, lean the board, position it */
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  bottom: 0;
}

#board:after {
  position: absolute;
  content: " ";
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
#content {
  animation: scroll 100s linear 15s;
  position: absolute;
  top: 100%;
}

#title,
#subtitle {
  text-align: center;
}

audio{
  border-radius: 0 15px 15px 0;
}
audio::-webkit-media-controls-seek-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-play-button{
  display: none;
}
audio::-webkit-media-controls-mute-button{
  display: block;
}


@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
